.clientPage{
    justify-items: center;
    display: inline-grid;
}

.clientPage h1{
    color: white;
}

.clientPage .logo{
    height: 500px;
}

.masonry-container {
    column-count: 5;
    column-gap: 15px;
    row-gap: 15px;
}

.masonry-item {
    display: inline-block;
    width: 100%;
}

.masonry-item img {
    display: block;
    width: 100%;
}

@media (max-width: 770px) {
    .clientPage .logo{
        height: 300px;
    }
    .masonry-container {
        column-count: 3;
    }
}