.clientPage{
    justify-items: center;
}

.clientPage h1{
    color: white;
}

.clientPage h3{
    font-size: 24px;
    font-weight: 900
}

.clientPage hr{
    width: 50%;
}

.textInfo{
    text-align: center;
    display: flex;
    justify-content: center;
}

.textInfo h3{
    top: -80px;
    position: relative;
}

.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.clientPage li{
    font-size: 18px;
    top: -100px;
    position: relative;
    text-align: center;
    list-style:none;
}

.clientPage .logo{
    height: 300px;
}

.masonry-container {
    column-count: 5;
    column-gap: 15px;
    row-gap: 15px;
}

.masonry-item {
    display: inline-block;
    width: 100%;
}

.masonry-item img {
    display: block;
    width: 100%;
}

@media (max-width: 770px) {
    .clientPage .logo{
        height: 300px;
    }
    .masonry-container {
        column-count: 3;
    }
}