.clientPage{
    justify-items: center;
}

.clientPage h1{
    color: white;
}

.clientPage h3{
    font-size: 24px;
    font-weight: 900
}

.clientPage hr{
    width: 50%;
}

.textInfo{
    text-align: center;
    display: flex;
    justify-content: center;
}

.textInfo h3{
    top: -80px;
    position: relative;
}

.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clientPage ul{
   padding: 0;
}

.clientPage li{
    font-size: 18px;
    top: -100px;
    position: relative;
    text-align: center;
    list-style:none;
}

.logo{
    width: 300px !important;
    height: 300px !important;
}

@media (max-width: 770px) {
    .clientPage h3{
        font-size: 12px;
        font-weight: 900
    }
    .clientPage li{
        font-size: 12px;
    }
}